/* this is the CSS sheet */
* { padding: 0; margin: 0; }

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 100%;
}

.canvasStyle {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
}

canvas {
  border: 1px black solid;
}

h1 {
    font-size: 2.5em;
    padding-top: 2em;
    padding-left: 1em;
    color: red;
  }

h2 {font-size: 2em;
    padding-top: 1em;
    padding-left: 1em;
  }

h3 {
  font-size: 1.5em;
  padding-top: 1em;
  padding left: 1em;
}
/*opening instructions*/
.how{
font-family: 'Orbitron';
font-size: 1.5em;
padding: .5em;
text-align: center;
}

.instructions {
font-family: 'Orbitron';
line-height: 1.5;
width: 400px;
border: 3px solid #FF0000;
border-radius: 15px;
margin-left: 15em;
margin-top: 8em;
bottom: 4em;
padding: 1em;
}

/*opening page start button*/
.button  {
font-family: 'Orbitron';
position: fixed;
bottom: 6em;
right: 4em;
padding: 15px 25px;
font-size: 24px;
text-align: center;
text-decoration: none;
cursor: pointer;
outline: none;
color: #fff;
background-color: #FF0000;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

.button:hover {
background-color:  #ff3333
}

.button:active {
 background-color:  #ff3333;
 box-shadow: 0 5px #666;
 transform: translateY(4px);
}


a {
  text-decoration: none;
}

span.jsQuestions {
  display: flex;
  font-family: 'Orbitron';
  font-size: 1.5em;
  margin: 10px;
  border: 1px solid;
  padding: 20px;
}

span.jsScore {
  display: flex;
  font-family: 'Orbitron';
  font-size: 1.5em;
  margin: 10px;
  padding: 20px;
  color: red;
}

#hiddenReading {
  display: none;
  font-size: 1em;
  font-family: sans-serif;
  padding: 14px 20px;
  border: 1px solid;
  margin: 10px;
}

  .spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 80%;

    /* 4. Animatie*/
    animation: swing 2s infinite;
    transform-origin: top;

    /* Bonus*/
    transition: 1s ease-in-out;
}

.spider .spiderweb {
    width: 2px;
    height: 20em;
    margin-left: 49px;
    background: #000;
}

.spider .body {
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 25px;
    background: #fff;
    border-radius: 50%;
}

.spider .body .eye.left {
    left: 15px;
}

.spider .body .eye.right {
    right: 15px;
}

.spider .body .eye:after {
    background: #000;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    /* 3. Animatie */
    animation: look 8s infinite;
}
.mouth
{
  width: 40%;
  height: 15%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: -21%;
  background: #fff;
}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -70%;
}
.spider .legs.right {
    right: -60%;
}


.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}
.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}

/* Buttons */

button.jsAnswers {
  display: flex;
  font-size: 1em;
  font-family: sans-serif;
  padding: 14px 20px;
  border: 1px solid;
  margin: 10px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#backtoGame {
  display: none;
}

.buttonReappear{
  font-family: 'Orbitron';
  padding: 14px 20px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FF0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
  margin-bottom: 10px;
}


button.resourceButton{
  display: flex;
  font-size: 1.5em;
  font-family: 'Orbitron';
  font-weight: bold;
  text-shadow: 2px 2px rgba(0,0,0,0.40);
  padding: 14px 20px;
  border: 1px solid;
  border-radius: 25px;
  border-style: outset;
  margin: 10px;
}

/* media query */

@media screen and (max-width: 700px){

  .spider {
    display:none;
  }

  span.jsQuestions {
    font-size: 2em;
    text-align: center;
  }

  span.jsScore {
    font-size: 2em;
  }

  button.jsAnswers {
    display: block;
    width: 96.5%;
      text-align: center;
    font-size: 1.5em;

  }

  .buttonReappear{
    display: block;
    width: 96.5%;
    text-align: center;
    font-size: 1.5em;

  }
}

/* 1. Animatie */
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0);
    }

    45%, 95% {
        transform: translateX(-110%);
    }
}


/* 3. Animatie */
@keyframes swing {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
